<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint 
				address="net.tcp://localhost:2113/AliveIdea"
					  binding="netTcpBinding"
					  contract="Contracts.IAliveIdeaService"
					  name="tcpEP"/>
			<endpoint address="http://localhost:2112/AliveIdea"
				  binding="basicHttpBinding"
				  contract="Contracts.IAliveIdeaService"
					  name="httpEP"/>
		</client>
	</system.serviceModel>
</configuration>